body{
  font-family: Prompt, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #444;
	background: #fff;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../resources/pixabay/japanese-food-2199962_1920.jpg');
  background-position:top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-nav{
  background:#eaeaea;
  color: #888;
  padding:5px 0;
}
.section--menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}