html, body{
  height:100%;
}
.page-wrap {
  min-height: 100%;
  padding-top:30px;
  margin-bottom: -30px;
  padding-bottom:30px;
  background-image: url('../resources/pixabay/japanese-food-2199962_1920.jpg');
  background-position:top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
body{
  font-family: Prompt, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #444;
	background: #fff;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color: #EC601F;
}
a:hover, a:focus{
  text-decoration: none;
  color: #FF5100;
}
h1{
  color: #fff;
}
.top-nav{
  background:#ffffff;
  color: #EC601F;
  padding:5px 0;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width:100%;
  z-index: 10000;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
       box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.top-nav a{
  color: #EC601F;
}
.footer{
  background-color: #000;
  color: #fff;
  padding:5px 0;
}
.section--menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.product_item{
  text-align:left;
}
.product_item .thumbnail{
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.product_item .label{
  position: absolute;
  top:0;
  right:20px;
}
.product_item:nth-child(2n+1){
  clear:left;
}
.product-title{
  color: #fff;
}
.product-detail{
  color: #838383;
  font-size:0.9em;
  margin-bottom:0;
}
.product-price{
  font-size:1.6em;
  font-weight: lighter;
}
.cart-item-list{
  text-align: left;
}