<section class="animated fadeInUp text-center">
  <div class="row">
    <div class="col-md-4" style="background-color:#000;color: #ccc;padding:60px;">
    <h1>ติดต่อเรา</h1>
    <div>
      <h4>{{contact.contactName}}</h4>
      <div><b>ที่อยู่:</b> {{contact.contactAddr}}</div>
      <div><b>เบอร์ติดต่อ:</b> {{contact.contactPhone}}</div>
      <div><b>เวลาทำการ:</b> {{contact.contactDate}} {{contact.contactTime}}</div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  </div>
</div>