<section class="animated fadeInUp text-center" style="align-items: center;">
  <nav class="menu" style="margin:0 auto;">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="#!/product/">
          ทั้งหมด
        </a>
      </li>
      <li class="menu__item" ng-repeat="category in category_list">
        <a class="menu__link" href="#!/product/{{category.id}}">
          {{category.desc}}
        </a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-9" ui-view="productlist"></div>
    <div class="col-md-3" ng-controller="cartController">
      <div class="cart-list">
        <div>
          สั่งซื้อทั้งสิ้น {{myCart.cart_item}} รายการ
        </div>
        <div>
          รวมราคา {{myCart.cart_amount}} บาท
        </div>
        <button type="button" class="btn btn-danger">ยืนยันการสั่งซื้อ</button>
        <hr />
        <div ng-repeat="(cart_index, cart_item) in myCart.my_cart">
          <div class="row">
            <div class="col-xs-4">
              <img ng-src="{{cart_item.product.photo}}" alt="{{cart_item.product.product_name}}" class="img-responsive" />
            </div>
            <div class="col-xs-8">
              <div class="caption">
                <h5>{{cart_item.product.name}}</h5>
                <div>ราคา {{cart_item.product.price}} บาท</div>
                <div>จำนวน:</div>
                <input class="form-control" type="number" ng-model="myCart.my_cart[cart_index].qty" ng-change="myCart.updatePrice()" ng-max="myCart.my_cart[cart_index].product.qty"  />
              </div>
            </div>
            <div class="col-xs-12">
              <span ng-click="myCart.cancelItem(cart_item)" class="btn btn-danger">ยกเลิกรายการ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>