<section class="animated fadeIn text-center" style="align-items: center;">
  <nav class="menu" style="margin:0 auto;">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="#!/product/">
          ทั้งหมด
        </a>
      </li>
      <li class="menu__item" ng-repeat="category in category_list">
        <a class="menu__link" href="#!/product/{{category.id}}">
          {{category.desc}}
        </a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-9" ui-view="productlist"></div>
    <div class="col-md-3" ng-controller="cartController">
      <div class="cart-list thumbnail">
        <h3 class="text-danger">รายการสั่งซื้อ</h3>
        <p>{{myCart.cart_item}} รายการ {{myCart.cart_amount}} บาท
        </p>
        <button type="button" class="btn btn-danger btn-block"><i class="icon-book-open"></i> ยืนยันการสั่งซื้อ</button>
        <hr />
        <div class="cart-item-list" ng-repeat="(cart_index, cart_item) in myCart.my_cart">
          <div class="row">
            <div class="col-xs-12">
                <span class="label label-danger">{{cart_item.product.catagory}}</span> <b>{{cart_item.product.name}}</b>
            </div>
            <div class="col-xs-4">
              <img ng-src="{{cart_item.product.photo}}" alt="{{cart_item.product.product_name}}" class="img-responsive" />
            </div>
            <div class="col-xs-8">
              <div class="caption">
                <div>ราคา {{cart_item.product.price}} บาท</div>
                <div>
                  <button type="button" class="btn btn-danger" ng-click="myCart.my_cart[cart_index].qty = myCart.my_cart[cart_index].qty - 1;myCart.updatePrice();">-</button>
                  <span>{{myCart.my_cart[cart_index].qty}}</span>
                  <button type="button" class="btn btn-danger" class="btn btn-danger" ng-click="myCart.my_cart[cart_index].qty = myCart.my_cart[cart_index].qty + 1">+</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div ng-click="myCart.cancelItem(cart_item)" class="btn btn-danger btn-block"><i class="icon-trash"></i> ยกเลิกรายการ</div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>