<div class="row">
  <div class="col-sm-6 product_item animated flipInX" ng-repeat="product in product_list | filter:filters">
    <div class="thumbnail">
      <div class="row">
        <div class="col-xs-4 text-center">
          <img ng-src="{{product.photo}}" class="img-responsive" alt="{{product.product_name}}" />
        </div>
        <div class="col-xs-8">
          <div class="caption">
            <span class="label label-danger">{{product.catagory}}</span>
            <h4 class="product-title">{{product.name}}</h4>
            <p class="product-detail">{{product.detail}}</p>
          </div>
        </div>
        <div class="col-xs-12">
          <span href="#" class="btn btn-danger" role="button" ng-click="myCart.addMenu(product)"><i class="icon-book-open"></i> เพิ่มรายการ</span>
          <span class="pull-right product-price">{{product.price}} บาท</span>
        </div>
      </div>
    </div>
  </div>
</div>